name: My first workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - name: go to root directory
          run: pwd

        - name: list the files
          run: ls -lrt
