name: My first workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - name: Executing shell scripts
          run: ./shall.sh
      
